<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
 <head>
[% IF official %]
  <title>CSS 2.1 Conformance Test Suite</title>
[% ELSE %]
  <title>CSS 2.1 Test Collection</title>
[% END %]
  <style type="text/css">
    @import "http://www.w3.org/StyleSheets/TR/base.css";
    @import "indices.css";
  </style>
 </head>
 <body>

[% INCLUDE "index.content.tmpl" %]

</body>
</html>
