[% flagInfo =
    { '96dpi'     => { title => 'Test Only Valid on 96dpi Displays',
                       abbr  => '96'},
      'animated'  => { title => 'Animated Test',
                       abbr  => 'Animated' },
      'ahem'      => { title => 'Requires Ahem Font',
                       abbr  => 'Ahem'},
      'dom'       => { title => 'Requires DOM (Document Object Model) Support',
                       abbr  => 'DOM/JS'},
      'font'      => { title => 'Requires Special Font',
                       abbr  => 'Font'},
      'history'   => { title => 'Requires Session History',
                       abbr  => 'History'},
      'http'      => { title => 'Requires HTTP Headers',
                       abbr  => 'HTTP'},
      'image'     => { title => 'Requires Bitmap Graphics Support',
                       abbr  => 'Bitmaps'},
      'interact'  => { title => 'Requires User Interaction',
                       abbr  => 'Interact'},
      'invalid'   => { title => 'Tests Invalid CSS',
                       abbr  => 'Invalid'},
      'namespace' => { title => 'Requires XML Namespaces Support',
                       abbr  => 'Namespaces'},
      'may'       => { title => 'Behavior tested is preferred but optional.',
                       abbr  => 'Optional'},
      'paged'     => { title => 'Test Only Valid for Paged Media',
                       abbr  => 'Paged'},
      'userstyle' => { title => 'Test requres user style sheet or other special user settings.',
                       abbr  => 'User'},
      'scroll'    => { title => 'Test Only Valid for Continuous Media',
                       abbr  => 'Scroll'},
      'should'    => { title => 'Behavior tested is recommended but not required',
                       abbr  => 'Recommend'},
      'svg'       => { title => 'Requires SVG Support',
                       abbr  => 'SVG'}
    }
%]

[% refCompMap =
    { '==' => '=',
      '!=' => '&#x2260;'
    }
%]

[%  statusNames = {
      'pa' => {
        'title' => 'Pre-Alpha',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-pa' },
      'alpha' => {
        'title' => 'Alpha',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-alpha' },
      'beta' => {
        'title' => 'Beta',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-beta' },
      'rc' => {
        'title' => 'Release Candidate',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-rc' },
      'fin' => {
        'title' => 'Final',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-fin' },
    }
%]

[% suites = {
      'css2.1' => {
        'title'    => 'CSS2.1',
        'specroot' => 'http://www.w3.org/TR/CSS21/',
        'status'   => 'rc' },
      'css3-namespace' => {
        'title'    => 'CSS Namespaces',
        'specroot' => 'http://www.w3.org/TR/css3-namespace/',
        'status'   => 'rc' },
      'css3-page' => {
        'title'    => 'CSS3 Paged Media',
        'specroot' => 'http://www.w3.org/TR/css3-page/',
        'status'   => 'pa' },
      'css3-color' => {
        'title'    => 'CSS3 Color',
        'specroot' => 'http://www.w3.org/TR/css3-color/',
        'status'   => 'rc' },
      'css3-multicol' => {
        'title'    => 'CSS Multi-column Layout Module',
        'specroot' => 'http://www.w3.org/TR/css3-multicol/',
        'status'   => 'pa' },
      'css3-regions' => {
        'title'    => 'CSS Regions Module',
        'specroot' => 'http://www.w3.org/TR/css3-regions/',
        'status'   => 'pa' },
    }
%]
