[% flagInfo =
    { '96dpi'     => { title => 'Test Only Valid on 96dpi Displays',
                       abbr  => 'R'},
      'ahem'      => { title => 'Requires Ahem Font',
                       abbr  => 'A'},
      'dom'       => { title => 'Requires DOM (Document Object Model) Support',
                       abbr  => 'O'},
      'font'      => { title => 'Requires Special Font',
                       abbr  => 'font'},
      'history'   => { title => 'Requires Session History',
                       abbr  => 'H'},
      'image'     => { title => 'Requires Bitmap Graphics Support',
                       abbr  => 'G'},
      'interact'  => { title => 'Requires User Interaction',
                       abbr  => 'I'},
      'invalid'   => { title => 'Tests Invalid CSS',
                       abbr  => 'invalid'},
      'namespace' => { title => 'Requires XML Namespaces Support',
                       abbr  => 'N'},
      'paged'     => { title => 'Test Only Valid for Paged Media',
                       abbr  => 'P'},
      'scroll'    => { title => 'Test Only Valid for Continuous Media',
                       abbr  => 'S'},
      'svg'       => { title => 'Requires SVG Support',
                       abbr  => 'V'}
    }
%]
