id	references	title	flags	links	revision	credits	assertion
[% FOREACH test IN tests.sort('name') %]
[%+ test.file.replace('\.[a-z]+$', '') +%]	
[%- FOREACH ref IN test.references.sort -%]
  [%- '!' IF ref.type == '!=' %][% extmap.translate(ref.relpath) %][% ',' IF not loop.last() -%]
[%- END +%]	
[%- test.title FILTER collapse +%]	
[%- test.flags.join(',') +%]	
[%- test.links.join(',').replace(specroot, '') +%]	
[%- test.revision +%]	
[%- FOREACH credit IN test.credits -%]
`[% credit.0 %]`<[% credit.1 %]>[% ',' IF not loop.last() -%]
[%- END +%]	
[%- test.asserts.join(' ') FILTER collapse +%]
[% END %]
