id      title   flags   links   assertion
[% FOREACH test IN tests %]
[%+ test.file.replace('\.[a-z]+$', '') +%]  [%+ test.title FILTER collapse +%]  [%+ test.flags.join(',') +%]        [%+ test.links.join(',').replace(specroot, '').replace('\.html\#','-') +%]        [%+ test.asserts.join(' ') FILTER collapse +%]
[% END %]
