<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
[% IF official %]
  <title>[% specName %] Conformance Test Suite</title>
[% ELSE %]
  <title>[% specName %] Test Collection</title>
[% END %]
  <style type="text/css">
    @import "http://www.w3.org/StyleSheets/TR/base.css";
    @import "indices.css";
  </style>
 </head>
 <body>

[% IF official %]
  <h1>[% specName %] Conformance Test Suite</h1>
[% ELSE %]
  <h1>[% specName %] Test Collection</h1>
[% END %]


[% INCLUDE index.content.tmpl %]


<h2>License</h2>

[% IF official %]
  <p>This test suite is licensed under both the
    <a href="http://www.w3.org/Consortium/Legal/2008/04-testsuite-license">W3C
    Test Suite License</a> and the <a href="http://www.w3.org/Consortium/Legal/2008/03-bsd-license">W3C
    3-clause BSD License</a>. See W3C Legal's <a href="http://www.w3.org/Consortium/Legal/2008/04-testsuite-copyright">explanation
    of the licenses</a>.</p>
[% ELSE %]
  <p>These tests are licensed under the <a href="LICENSE-BSD">BSD 3-clause
    License</a>. You may modify and distribute them under those terms. Aside
    from their titles, documentation, and location they are identical to the
    official tests of the same date. However, only the
    <a href="http://www.w3.org/Style/Test/">official [% specName %]
    Conformance Test Suite</a> may be used as the basis for CSS conformance
    claims.</p>
[% END %]

<h2>Acknowledgements</h2>

  <p>Many thanks to the following for their contributions:</p>
  <ul>
[%- USE contributors = datafile("${path}contributors.data", delim = '	') %]
[%- FOREACH person = contributors %]
    <li>[% person.name %]</li>
[%- END %]
  </ul>

</body>
</html>
