<html>
<head/>
<body>
[% FOREACH section IN tocData %]
<a href="[% specroot %]/[% section.uri %]">[% section.section %] - [% section.title %]</a><br />
[% FOREACH entry IN section.tests %]
Title: [% entry.title %] 
File: [% entry.file %] 
isPrimary: (0 or 1) [% entry.isPrimary %]
[% FOREACH assertion IN entry.assert %]
assertion: [% assertion %]
[% END %]
[% END %]
[% END %]

</body>
</html>
