<!DOCTYPE html>
<title>CSS Snap Size: snap-width</title>
<% if (!isReference) {
%><link rel="help" href="https://drafts.csswg.org/css-snap-size/#snap-width">
<link rel="match" href="reference/snap-width-001.html">
<meta name="assert" content="This test asserts the snap-width property rounds down the box width.">
<meta name="flags" content="ahem">
<% } %><link rel="author" title="Koji Ishii" href="kojiishi@gmail.com">
<style>
.test, .ref {
  font-family: Ahem;
  font-size: 32px;
  line-height: 1;
  margin: .5em 0;
  width: 20em;
}
<% if (!isReference) {
%>.test {
  width: 20.5em;
  text-align: right;
  snap-width: 1em;
}
<% }
%>.border > div {
  border: .4em orange solid;
}
.padding > div {
  padding: 0 .4em;
}
</style>
<body>
<p class="instructions">Test passes if each pair of boxes are the same,
  including how they look, widths, and horizontal positions.
<%
[ "", "border", "padding", "border padding"].forEach(function (className) {
%>
<div<%- className ? ' class="' + className + '"' : null %>>
  <div class="test">XXXXXXXXXX XXXXXXXXX</div>
  <div class="ref">XXXXXXXXXX XXXXXXXXX</div>
</div>
<% });
%></body>
