# Python
*.py[co]
.virtualenv
_venv

# Node
node_modules

# WPT repo stuff
MANIFEST.json
!content-security-policy/support/manifest.json
!payment-handler/manifest.json

testharness_runner.html
!/tools/wptrunner/wptrunner/testharness_runner.html

_certs
config.json

# Various OS/editor specific files
*#
*.sw[po]
*~
\#*
scratch
webdriver/.idea
.vscode/
.DS_Store
*.rej
webdriver/.cache
