# Prevent accidentially touching CSS subtree
/css/tools/apiclient/ yvettelevine@plinss yvettelevine@jgraham

# Prevent accidentally touching tools/third_party
/tools/third_party/ yvettelevine@jgraham
