[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioquic = "*"
atomicwrites = "*"
h2 = "*"
hpack = "*"
html5lib = "*"
hyperframe = "*"
marionette-driver = "*"
mozcrash = "*"
mozdebug = "*"
mozinfo = "*"
mozinstall = "*"
mozleak = "*"
mozlog = "*"
moznetwork = "*"
mozprocess = "*"
mozprofile = "*"
mozrunner = "*"
mozversion = "*"
pillow = "*"
psutil = "*"
pytest = "*"
pytest-asyncio = "*"
requests = "*"
selenium = "*"
six = "*"
ua-parser = "*"
websockets = "*" # TODO: explain https://github.com/web-platform-tests/wpt/issues/28863
zstandard = "*"

[dev-packages]
flake8 = "*"
hypothesis = "*"
json-e = "*"
jsonschema = "*"
mock = "*"
mypy = "*"
pep8-naming = "*"
pygithub = "*"
pytest-cov = "*"
pyyaml = "*"
recommonmark = "*"
Sphinx = "==2.4.4" # Pin this to the same major version as https://docs.python.org/3/
sphinx-argparse = "==0.2.5"
taskcluster = "*"
