table {
    border-collapse: collapse;
    margin: auto;
}
th, td {
    border: 1px solid black;
    padding: 0.4ex;
}
tbody tr:hover {
    background-color: #ddd;
}
tbody th {
    text-align: left;
}
tbody td:nth-child(2) {
    text-align: right;
    font-family: monospace;
}
.id {
    font-size: smaller;
    font-style:italic;
}
dt {
    font-style: italic;
}