/* 

   implementationreport.css 

   by Tantek Çelik 2003-11-07
   additions by Bert Bos 2006-10-02

*/



table { 
  border: 1px solid black;
  border-spacing:0;
  empty-cells:show;
  padding:0;
}

tbody { 
  border-top:1px solid gray; 
  padding:0;

}

td { 
  border-top:1px solid gray; 
  padding:0 .5em;
  background:white;
  text-align:center;
  font-size:small;
  line-height:1.1;
}

th {
  border-top:2px solid gray;
}

tbody:first-child tr:first-child th { border-top:none }



td,th {
  border-left:2px solid gray;
  vertical-align:top;
}

td:first-child,th:first-child { 
 border-left:none;
 vertical-align:middle
}



.report td:first-child { width:8em }



:link,:visited { text-decoration:none }

a:hover { text-decoration:underline }



td :link,td :visited { 
  display:block; width:6em; line-height:1.5em; border-width:6em; background:#F33;
  border-color:white; border-right-style:solid; border-left-style:none;
  color:black; font-size:xx-small; margin:0;
}



td .pass:link,td .pass:visited { 
  background:#3F3; border-right-style:none; border-left-style:solid; 
}

td .f:link,td .f:visited {
  font-style:italic;
}

td .na:link,td .na:visited {
  background:silver; border-left-style:solid; border-width:3em;
}

td .crash:link,td .crash:visited {
  background:#F33;color:yellow;
}



table { clear:both }

.key td,.key tbody { border:none; letter-spacing:1px; text-transform:uppercase }



object {width: 90%; height: 15em; border: solid black}
