[%- IF isXML -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
[%- ext = 'xht'
    formatMismatchFlag = 'HTMLonly' %]
[%- ELSE -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
[%- ext = 'htm'
    formatMismatchFlag = 'HTMLonly' %]
[%- END %]
 <head>
  <title>CSS 2.1 Conformance Test Suite Chapter</title>
  <style type="text/css">
    @import "http://www.w3.org/StyleSheets/TR/base.css";
    @import "../indices.css";
  </style>
 </head>

 <body>

  <h1>CSS2.1 Conformance Test Suite</h1>
  <h2>[% IF isAppendix %]Appendix[% ELSE %]Chapter[% END %] [% chapter %] - [% chapterTitle %] ([% chapterCount %] tests)</h2>
  <table summary="Chapter Tests" width="100%">
    <col id="test-column">[% IF isXML %]</col>[% END %]
    <col id="flags-column">[% IF isXML %]</col>[% END %]
    <thead>
      <tr>
        <th>Test</th>
        <th>Flags</th>
      </tr>
    </thead>
[% FOREACH section IN tocData %]
    <tbody id="s[% section.section %]">
      <tr><th colspan="2" scope="rowgroup"><a href="[% specroot %]/[% section.uri %]">[% section.section %] [% section.title %]</a></th></tr>
  [%- FOREACH entry IN section.tests %]
    [%- FOREACH flag IN entry.flags %]
      [%- SET skip = 1 IF flag == formatMismatchFlag %]
    [%- END %]
    [%- UNLESS skip %]
      <tr id="[% entry.file %]-[% section.section %]" class="[% flag.string FOREACH flag IN entry.flags %] [% 'primary' IF entry.isPrimary %]">
        <td>[% IF entry.isPrimary %]<strong>[% END %]<a href="[% entry.file %].[% ext %]">[% entry.title %]</a>[% IF entry.isPrimary %]</strong>[% END %]
      [%- IF entry.assert.size > 0 %]
          <ul class="assert">
        [%- FOREACH assertion IN entry.assert %]
            <li>[% assertion %]</li>
       [%- END %]
          </ul>
      [%- END %]
        </td>
        <td>[% FOREACH flag IN entry.flags %]<abbr class="[% flag.string %]" title="[% flag.title %]">[% flag.string %]</abbr>[% END %]</td>
      </tr>
    [%- END %]
  [%- END %]
    </tbody>
[%- END %]
  </table>

 </body>
</html>
