q { font-style: italic }
li { padding-bottom: 1em; }
.fail { background-color: #f88; }
.pass { background-color: #8f8; }
.maybe { background-color: #aaf; }
.issue { background-color: #ff8; }
.na { background-color: #fcc; }
.spec-issue { color: red }
.warning { font-size: 150%; color: #f77 }
.important { font-size: 120%; font-weight: bold }
ul.toc dfn, h1 dfn, h2 dfn, h3 dfn, h4 dfn, h5 dfn, h6 dfn { font: inherit; }
ul.toc li ul { margin-bottom: 0.75em; }
ul.toc li ul li ul { margin-bottom: 0.25em; }
