@charset "UTF-8";
html { margin: 0 8px; }
body { margin: 0; }
html.done { border: 2px solid limegreen; margin: 3px; padding: 3px; }

html:not(.done) { height: 100%; }
html:not(.done) body { height: 100%; }

header { display: block; font-weight: bold; }
html.done header { font-size: 1.5em; margin: 0 0 .66em; }
html.done header p { height: 5em; margin: 0; }

html:not(.done) header { border: thin solid; height: 1.5em;
                         -moz-box-sizing: border-box;
                         -webkit-box-sizing: border-box;
                         box-sizing: border-box; }
html:not(.done) header p { height: 100%; width: 15em; margin: 0; float: right; }

header meter { display: block; height: 100%; width: 100%; }
header dl, header dt, header dd { margin: 0; padding: 0; }
header dt, header dd { display: inline; }
header dt:after { content: ": "; }
html.done header dd:after { content: "\a"; white-space: pre-line; }
html:not(.done) header dd:after { content: "; "; }
html:not(.done) header dd:last-child:after { content: "."; }
html:not(.done) header dl { line-height: 1.5; }

html:not(.done) #wrapper { height: 100%; margin-top: -1.5em; padding-top: 1.5em;
                           -moz-box-sizing: border-box;
                           -webkit-box-sizing: border-box;
                           box-sizing: border-box; }

html:not(.done) #results { width: 15em; height: 100%; float:left;
                           overflow-x: hidden; overflow-y: scroll; }

section { display: block; border: thin solid black; padding: 0.5em 0; }
section h1 { margin: 0; font-size: 1em; }
html.done section h1 { text-align: center; }
section ol { padding: 0; margin: 0; list-style-position: inside; }
html.done section ol { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; }
section li { padding: 0.1em 0.5em; }
section li.pass:nth-child(odd)  { background: #E5FFE5; }
section li.pass:nth-child(even) { background: #DEF8DE; }
section li.fail:nth-child(odd)  { background: #FFE5E5; }
section li.fail:nth-child(even) { background: #F8DEDE; }
section p { margin: 0; }
html:not(.done) section { border-top: none; }
html.done section + section { border-top: none; }

html:not(.done) #iframewrapper { margin: 0 0 0 15em; padding: 2px 2px 3px; height: 100%;
                                 -moz-box-sizing: border-box;
                                 -webkit-box-sizing: border-box;
                                 box-sizing: border-box; }
html:not(.done) iframe { width: 100%; height: 100%; border-width: 2px; margin: -2px; }

html:not(.done) body.manual #iframewrapper { height: 90%; }
html:not(.done) body.manual #manualUI { display: block; margin: 0 0 0 15em;
                                        height: 10%; }
#manualUI { display: none; }

body > p { text-align: center; }
body > p > textarea { width: 90%; height: 20em; }

meter::-webkit-meter-horizontal-bar {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,
                               from(#F77),
                               color-stop(0.2, #FCC),
                               color-stop(0.45, #D44),
                               color-stop(0.55, #D44),
                               to(#F77));
}
meter::-webkit-meter-horizontal-optimum-value,
meter::-webkit-meter-horizontal-suboptimal-value,
meter::-webkit-meter-horizontal-even-less-good-value {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,
                               from(#AD7),
                               color-stop(0.2, #CEA),
                               color-stop(0.45, #7A3),
                               color-stop(0.55, #7A3),
                               to(#AD7));
}
