AddType 'text/html; charset=UTF-8' html
<Files ~ 'the-input-byte-stream-001.html'>
ForceType 'text/html; charset=iso-8859-15'
</Files>
<Files ~ 'the-input-byte-stream-006.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-007.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-009.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-015.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-034.html'>
ForceType 'text/html; charset=iso-8859-15'
</Files>
<Files ~ 'the-input-byte-stream-022.html'>
ForceType 'text/html; charset=iso-8859-15'
</Files>
<Files ~ 'the-input-byte-stream-016.html'>
ForceType 'text/html; charset=iso-8859-15'
</Files>
<Files ~ 'the-input-byte-stream-018.html'>
ForceType 'text/html; charset=iso-8859-15'
</Files>
<Files ~ 'the-input-byte-stream-037.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-038.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-024.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-026.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-027.html'>
ForceType 'text/html'
</Files>
<Files ~ 'the-input-byte-stream-030.html'>
ForceType 'text/html'
</Files>
