# The latest commit on main has a number of nice, new features. Once
# vendoring >= 1.3 ships, we should move to that.
vendoring @ git+https://github.com/pradyunsg/vendoring.git@b08063d08e21076639d0ce03254e4b64a14e65c3
