[run]
cover_pylib = False
branch = True
parallel = True

concurrency =
  thread
  multiprocessing

source =
  certs
  ci
  gitignore
  lint
  manifest
  serve
  sslutils
  webdriver
  wpt
  wptrunner
  wptserve

omit =
  html5lib/*
  pywebsocket/*
  runner/*
  six/*

[paths]
wptrunner =
  wptrunner/wptrunner
  .tox/**/site-packages/wptrunner

[report]
show_missing = True