alabaster==0.7.13
Babel==2.12.1
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
commonmark==0.9.1
docutils==0.19
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
Jinja2==3.1.2
livereload==2.6.3
MarkupSafe==2.0.1
packaging==23.1
parsimonious==0.10.0
Pygments==2.16.1
recommonmark==0.7.1
regex==2023.8.8
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-argparse==0.4.0
sphinx-autobuild==2021.3.14
sphinx-js==3.2.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
tornado==6.3.3
urllib3==2.0.4
zipp==3.16.2
