
# Various redirections...

# Loop top and tail
Redirect temp /tests/adhoc/css/background/25.html http://www.hixie.ch/tests/adhoc/css/background/01.html
Redirect temp /tests/adhoc/css/background/25.xml http://www.hixie.ch/tests/adhoc/css/background/01.html
Redirect temp /tests/adhoc/css/background/00.html http://www.hixie.ch/tests/adhoc/css/background/24.html

# Alias xml versions as html 
Redirect permanent /tests/adhoc/css/background/17.xml http://www.hixie.ch/tests/adhoc/css/background/17.html
Redirect permanent /tests/adhoc/css/background/18.html http://www.hixie.ch/tests/adhoc/css/background/18.xml
Redirect permanent /tests/adhoc/css/background/19.html http://www.hixie.ch/tests/adhoc/css/background/19.xml
Redirect permanent /tests/adhoc/css/background/20.html http://www.hixie.ch/tests/adhoc/css/background/20.xml
Redirect permanent /tests/adhoc/css/background/21.html http://www.hixie.ch/tests/adhoc/css/background/21.xml
Redirect permanent /tests/adhoc/css/background/22.xml http://www.hixie.ch/tests/adhoc/css/background/22.html
Redirect permanent /tests/adhoc/css/background/24.html http://www.hixie.ch/tests/adhoc/css/background/24.xml

# Change to two number file names (I used to have 1.html, 2.html...
# now I have 01.html, 02.html... to accommodate lexical sorts)
Redirect permanent /tests/adhoc/css/background/1.html http://www.hixie.ch/tests/adhoc/css/background/01.html
Redirect permanent /tests/adhoc/css/background/2.html http://www.hixie.ch/tests/adhoc/css/background/02.html
Redirect permanent /tests/adhoc/css/background/3.html http://www.hixie.ch/tests/adhoc/css/background/03.html
Redirect permanent /tests/adhoc/css/background/4.html http://www.hixie.ch/tests/adhoc/css/background/04.html
Redirect permanent /tests/adhoc/css/background/5.html http://www.hixie.ch/tests/adhoc/css/background/05.html
Redirect permanent /tests/adhoc/css/background/6.html http://www.hixie.ch/tests/adhoc/css/background/06.html
Redirect permanent /tests/adhoc/css/background/7.html http://www.hixie.ch/tests/adhoc/css/background/07.html
Redirect permanent /tests/adhoc/css/background/8.html http://www.hixie.ch/tests/adhoc/css/background/08.html
Redirect permanent /tests/adhoc/css/background/9.html http://www.hixie.ch/tests/adhoc/css/background/09.html
